html,body{
  width:100%;
  height:100%;
  background:#f1f8fa;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}
.waiting{
  position: fixed;
  top: 20px;
  left: 10px;
  background: #252c34;
  color: #fff;
  transition: 1.5s;
  padding: 4px 10px;
  z-index: 10;
}
.bg{
  background: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
}
.frontDiv{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#f1f8fa;
}
.tbl{
  height: 100%;
  width: fit-content;
  text-align: center;
  line-height: 60px;
  min-width: 60px;
  cursor: pointer;
  margin-left: 5px;
}
.tbl:hover{text-decoration: underline #222b2c;}
.toubulan{
  width:100%;
  background:#fff;
  position: sticky;
  top: 0px;
  display: flex;
  box-shadow: 0 2px 4px 0 #00000014;
}
.sousuokuang{
  width:100px;
  line-height:30px;
  margin: auto 0;
  padding: 0px 10px;
  transition: 0.3s;
  border: 0px;
  background-color: #ededed;
}
.sousuokuang:focus{
  width:200px;
  outline: 0px;
}
a{
  text-decoration:none;
  color:black;
}
.box{
  width: 320px;
  height: 80px;
  margin-top: 10px;
  background: #fff;
  display: block;
  border-radius: 5px;
}
.box:hover{
  border: #000 1px solid;
}
.box .title{
  line-height: 30px;
}
.postings,.video,.blog{
  width: 100%;
  height: 100%;
  display: none;
}
.publishingPost,#postBg{
  flex: 1;
  background: #fff;
}
.publishingPost textarea{
  width: calc(100% - 5px);
  background: #f6f6f6;
  font-size: 16px;
  height: 300px;
  border: 0;
  resize:none;
}
.publishingPost div{
  margin: 8px;
  color: #000;
}
#send{
  cursor: pointer;
  float: right;
  width: fit-content;
  text-decoration: underline #000;
}
.add{
  display: inline-block;
  cursor: pointer;
}
.postingdiv{
  margin: 6px;
  padding: 5px 10px;
  cursor: pointer;
  color: #2c2c2c;
  width: 320px;
  background: #fff;
  border-radius: 5px;
  display: flex;
}
.postingDivContent{
  flex: 1;
}
.postingDivContent p{
  display: inline;
}
.postingDivContent div:first-of-type::before{content: "content：";}
.postingDivContent :nth-child(2)::before{content: "time：";}
.postingDivContent :nth-child(3)::before{content: "poster：";}
.fa-thumbs-o-up,.fa-thumbs-up{
  width: 32px;
}
.fa-thumbs-o-up::before,.fa-thumbs-up::before{
  content: "\f087";
  line-height: 62px;
  font-size: 20px;
}
.postingdiv a{
  color: #2ca9eb;
  text-decoration:underline #2ca9eb;
}
#postings{
  min-width: 352px;
  height: 100%;
  overflow: clip auto;
}
#postings::-webkit-scrollbar,.recommendation::-webkit-scrollbar{width:6px;background: #f5f5f5;}
#postings::-webkit-scrollbar-thumb,.recommendation::-webkit-scrollbar-thumb{background: #48d4ff;}
#postings::-webkit-scrollbar-thumb:hover,.recommendation::-webkit-scrollbar-thumb:hover{background: #27bae7;}
#postingsMessage{
  width: 600px;
  height: 90%;
  background: #fff;
  padding: 10px;
  color: #767676;
  line-height: 10px;
}
#postingsMessage a{
  color: #2ca9eb;
  text-decoration:underline #2ca9eb;
}
#postingsMessage :nth-child(1) p{
  display: block;
}
#postingsMessage p{
  color: #222b2c;
  line-height: 20px;
  display: inline;
}
#postBg .discuss{
  width: 600px;
  height: 60px;
  position: absolute;
  border-top: #000 1px solid;
  bottom: 0px;
  display: flex;
}
#postBg .discuss textarea{
  width: 90%;
  height: 60px;
  padding: 0;
  border: 0px;
  resize:none;
  font-size: 16px;
}
textarea:focus{
  border: 0px;
  outline: 0px;
}
#postBg .discuss div{
  flex: 1;
  background: #27bae7;
  color: #fff;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
.buttomdiv{
  width: 100%;
  height: 60px;
  background: #2c2c2c;
  color: #fff;
  text-align: center;
}
.buttomdiv a{
  color: #fff;
  text-decoration: underline #fff;
}
body::-webkit-scrollbar{width:0px;}
.postButton{display: none;}

@media screen and (max-width: 600px){
body{font-size: 14px;}
.tbl{width: 60px;line-height: 40px;}
.sousuokuang{height: 20px;}
.sousuokuang:focus{width: 100px;}
#postingsMessage{width: 100%;}
#postBg .discuss{width: 100%;}

.postings{flex-direction: column;height: calc(100% - 40px);}
.postButton{margin-left: 5px;display: block;cursor: pointer;padding: 5px 10px;width: fit-content;background: #48d4ff;color: #fff;}
#postings{width: 100%;}
#postBg,.publishingPost{width: 100%;overflow: hidden;height: 0;position: fixed;bottom: 0;transition: 0.4s;}
}