body::-webkit-scrollbar{width:0px;}
html,body{
  width:100%;
  height:100%;
  background:#f1f8fa;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.alert{
  position: fixed;
  width: fit-content;
  background: #252c34;
  color: #fff;
  padding: 0 10px;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
.bg{
  background: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 9;
}
.header{
  width:100%;
  background:#fff;
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: solid 2px #00000014;
  align-items: center;
  z-index: 8;
  min-width: 320px;
}
.left,.right{
  width: fit-content;
  line-height: 50px;
  margin: 0 10px;
}
.center{
  flex: 1;
  display: flex;
  margin: 0 10px;
}
.left:hover,.right:hover{text-decoration: underline #222b2c;}
.sousuokuang{
  width:100px;
  line-height:30px;
  margin: auto 0;
  padding: 0px 10px;
  border: 0;
  background-color: #ededed;
}
.sousuokuang:focus{outline: 0px;}
#search{
  border-left: 2px solid #fff;
  padding: 0px 10px;
  background-color: #ededed;
  line-height: 30px;
  cursor: pointer;
}
a{
  text-decoration:none;
  color:black;
}
.wrapper{
  margin: 0 auto;
  display: flex;
}
.post_avatar{
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
#post_value{
  width: calc(100% - 10px);
  padding: 5px;
  background: #f8f8f8;
  font-size: 17px;
  line-height: 25px;
  height: 75px;
  border: 0;
  resize:none;
}
.ending{
  width: calc(100% - 20px);
  display: flex;
  padding: 10px;
  position: relative;
}
.emoji{
  background: #f8f8f8;
  position: absolute;
  top: 25px;
  left: 25px;
  display: none;
  z-index: 1;
}
.emoji_header{
  background: #eaeaea;
  display: flex;
  padding: 5px;
}
.emoji_header div{
  cursor: pointer;
}
#emoji_off{
  color: #888;
}
.emoji_body{
  width: 270px;
  height: 150px;
  overflow-y: auto;
  padding: 5px;
}
.emoji_body div{
  width: 40px;
  height: 40px;
  margin: 5px;
  float: left;
  background-image: url("../imgs/emoji.png");
  background-size: 2720px auto;
  cursor: pointer;
}
.emoji_body div:hover{
  background-color: #ddd;
}
#post{cursor: pointer;}
.add{
  display: inline-block;
  cursor: pointer;
}
#posting,.post{
  width: 480px;
  padding: 10px;
  background: #fff;
  margin-bottom: 15px;
}
.post_header small{
  margin-left: 10px;
  color: #777;
}
.post_actions{
  display: flex;
}
.post_actions a{
  flex: 1;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.support_y::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../imgs/图标1.png') no-repeat -24px 0px;
  background-size: 90px 20px;
  position: relative;
  top: 2px;
}
.support_n::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../imgs/图标1.png') no-repeat -2px 0px;
  background-size: 90px 20px;
  position: relative;
  top: 2px;
}
.reply::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../imgs/图标1.png') no-repeat -50px 0px;
  background-size: 94px 22px;
  position: relative;
  top: 2px;
}
.pv::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../imgs/图标1.png') no-repeat -70px 0px;
  background-size: 90px 20px;
  position: relative;
  top: 5px;
}
.post_message{
  margin: 10px 0 10px 45px;
}
.post_message a{
  color: #2ca9eb;
  text-decoration:underline #2ca9eb;
}
.post_emoji{
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../imgs/emoji.png");
  background-size: 1360px auto;
  position: relative;
  top: 3px;
}
.discuss_div{
  margin-left: 40px;
  margin-bottom: 5px;
}
.discuss_div .post_avatar{
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}
.discuss_div .post_message{
  margin: 0 0 0px 30px;
}
.postButton{
  cursor: pointer;
  padding: 5px 10px;
  background: #ccc;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.postButton:hover{
  background: #bbb;
}
textarea:focus{
  border: 0px;
  outline: 0px;
}
#reply{
  background: #fff;
  width: 480px;
  padding: 10px;
}
.reply_div{
  margin-top: 10px;
  font-size: 15px;
}
.discuss{
  font-size: 17px !important;
}
.discuss:hover{
  color: #2ca9eb;
}
.dashboard{
  position: sticky;
  top: 0;
  margin-left: 20px;
}
.dashboard_part_1{
  background: #fff;
  max-width: 250px;
  margin-bottom: 20px;
  padding: 10px;
}
.dashboard_part_1 b{
  font-size: 17px;
}
.dashboard_part_1 p{
  line-height: 10px;
  font-size: 14px;
  color: #333;
}
.avatar{
  background-size: 50px 50px;
  background-image: url("https://co2231a5g6hfi0gtjmd0.baseapi.memfiredb.com/storage/v1/object/public/avatar/默认.png");
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}
.userColumn{
  border-bottom: #777 2px solid;
  margin-bottom: 10px;
  display: flex;
}
.profile{
  display: flex;
}
.profile div{
  flex: 1;
  text-align: center;
}
.profile div:hover{color: #27bae7;}
.dashboard_part_2{
  background: #fff;
  width: 250px;
  color: #888;
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;
  display: flex;
  height: fit-content;
}
#order,#style{
  flex: 1;
  cursor: pointer;
  font-style:italic;
}
#order:first-letter,#style::first-letter{
  color: black;
  font-size: 25px;
  font-style: normal;
}

@media screen and (max-width: 600px){
body{font-size: 14px;}
.left,.right{line-height: 40px;}
.sousuokuang{height: 20px;}
#search{line-height: 20px;}
.left,.right{
  line-height: 40px;
  margin: 0 6px;
}
.center{margin: 0;}
.wrapper{
  width: 100%;
  overflow-x: hidden;
  min-height: calc(100% - 40px);
}
.content{
  width: 100%;
}
#posting,.post,#reply{
  max-width: calc(100% - 20px);
}
.dashboard{
  transform: translateX(100%);
  transition: 0.5s;
  z-index: 9;
  background: #fff;
}
}