body::-webkit-scrollbar{width:0px;}
html,body{
  width:100%;
  height:100%;
  background: linear-gradient(to right, #65cbf7, #b3a5fc);
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.alert{
  position: fixed;
  width: fit-content;
  background: #252c34;
  color: #fff;
  padding: 0 10px;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
.bg{
  background: rgb(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign{
  width: 100%;
  max-width: 600px;
  min-height: 500px;
  background-color: #ace3ffb3;
  border-radius: 10px;
  color: #333;
  text-align: center;
  backdrop-filter: blur(1px);
}
#signUp_buttom,#signIn_buttom{
  cursor: pointer;
  width: 50px;
  line-height: 25px;
  background: #fff;
  margin: 10px auto;
}
#accept{
  display: inline-block;
  width: 15px;
  height: 15px;
}
.accept{
  color: #ff2020;
  display: none;
}
.header{
  width:100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  min-width: 320px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  background-color: #0000001a;
  color: aliceblue;
}
.header a{
  color: aliceblue;
}
.left,.right{
  width: fit-content;
  line-height: 50px;
  margin: 0 15px;
}
.center{
  flex: 1;
  display: flex;
  margin: 0 10px;
}
.left:hover,.right:hover{text-decoration: underline #222b2c;}
.sousuokuang{
  width: 150px;
  padding: 0px 10px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: aliceblue;
}
.sousuokuang:focus{outline: 0px;}
.sousuokuang:-moz-placeholder{color: aliceblue;}
.sousuokuang:-ms-input-placeholder{color: aliceblue;}
.sousuokuang::-webkit-input-placeholder{color: aliceblue;}
#search{
  margin-left: 2px;
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 30px;
  cursor: pointer;
}
a{
  text-decoration:none;
  color:black;
}
.userBoard{
  width: 180px;
  background: #fff;
  box-shadow: #ddd 0 0 5px;
  position: fixed;
  top: 50px;
  right: 0px;
  z-index: 8;
  text-align: center;
  font-family: "Segoe UI Symbol", arial, sans-serif;
  display: none;
}
#loginButton{
  cursor: pointer;
  margin: 10px 0;
}
.userBoard a{
  display: block;
  margin: 10px 0;
}
.userAvatar{
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-size: 35px 35px;
  border-radius: 50%;
  text-align: center;
  font-size: smaller;
  background-color: #4bc4f9;
  border: solid #bbb;
  margin-right: 10px;
}
.part_1,.part_2{
  background: #fff;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 10px auto;
}
.part_1 b{
  font-size: 17px;
}
.part_1 p{
  line-height: 10px;
  font-size: 14px;
  color: #333;
}
.follow_buttom,#edit{
  padding: 5px 10px;
  border-radius: 8px;
  color: #fff;
  float: right;
  cursor: pointer;
  background-color: #27bae7;
}
.avatar{
  cursor: zoom-in;
}
.lv0::after,.lv1::after,.lv2::after,.lv3::after,.lv4::after,.lv5::after,.lv6::after{
  padding: 0 5px;
  margin-left: 5px;
  font-size: 11px;
  color: #fff;
}
.lv0::after{
  content: 'LV0';
  background: #ccc;
}
.lv1::after{
  content: 'LV1';
  background: #91e6ff;
}
.lv2::after{
  content: 'LV2';
  background: #4daeff;
}
.lv3::after{
  content: 'LV3';
  background: #cddc39;
}
.lv4::after{
  content: 'LV4';
  background: #f8b523;
}
.lv5::after{
  content: 'LV5';
  background: #ff6423;
}
.lv6::after{
  content: 'LV6';
  background: #f21212;
}
.avatar,.avatar_edit{
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.avatar_edit:hover::after{
  content: "更改头像";
  display: block;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #00000080;
  color: aliceblue;
  font-size: 11px;
  text-align: center;
}
.userColumn{
  display: flex;
}
.userColumn input{
  border: 0;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}
.userColumn input:focus{
  outline: 0px;
  border-bottom: 2px solid #000;
}
#intro_value{
  width: 20em;
}
#img{
  user-select: none;
}
#clip{
  box-shadow: 0 0 0 9999em #00000080;
  width:100px;
  height:100px;
  position: absolute;
  user-select: none;
  border: 3px solid #53a1ff;
  cursor: move;
}
#clip_buttom{
  background: #5d5d5d;
  color: aliceblue;
  position: absolute;
  bottom: 70px;
  padding: 10px 15px;
  border-radius: 10px;
  user-select: none;
}
#clip_buttom:hover{
  background: #505050;
}
#canvas,#canvas_img{
  display: none;
}
.profile{
  border-top: #777 2px solid;
  border-bottom: #777 2px solid;
  margin-bottom: 10px;
  padding-top: 10px;
  display: flex;
}
.profile div{
  flex: 1;
  text-align: center;
}
.profile div:hover{color: #27bae7;}
.part_2{display: flex;}
.part_2 div{
  flex: 1;
  text-align: center;
  cursor: pointer;
}
.part_2 div:hover{text-decoration: underline #222b2c;}

@media screen and (max-width: 600px){
body{font-size: 14px;}
.left,.right{
  line-height: 40px;
  margin: 0 6px;
}
.center{margin: 0;}
.sousuokuang{width: 100px;height: 20px;}
#search{line-height: 20px;}
.userAvatar{
  width: 30px;
  height: 30px;
}
}